<html>
    <head>
        <title>Lucian blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Lucian Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Welsh Corgi</a></h2>
            <p>Welsh Corgi, Bow Wow!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Dachshund</a></h2>
            <p>Dachshund, Bow Wow!</p>
        </div>
    </body>
</html>